<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    
    <main class="container">
        <%- include('../partials/flash-messages') %>
        <%- body %>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>